<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>TugaWeather</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p style="font-family:verdana" th:text="'Metereologia em Aveiro, ' + ${w1} + '!'"></p>
<p style="font-family:verdana" th:text="'Metereologia em Lisboa, ' + ${w2} + '!'"></p>
<p style="font-family:verdana" th:text="'Metereologia no Porto, ' + ${w3} + '!'"></p>
<p style="font-family:verdana" th:text="'Metereologia em Faro, ' + ${w3} + '!'"></p>
</body>
</html>